<h1>Our restaurants </h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= restaurant.name %></li>
  <% end %>
</ul>


1. Create the route with the controller and action
2. Then create the controller (if it doesnt exist) and the right action
3. Go to the view and show the info that you want